

.container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10vh auto;
    /* height: 100%; */   
}

.productContainer {
    width: 90%
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin: 0 auto;
    /* border: 1px solid green; */
    /* height: 100%; */   
}

.buttonContainer{
     /* border: 1px solid purple; */
     display: flex;
     justify-content: center;
     align-items: center;

}

.span {
    font-size: 1.5rem;
    margin: 0 5px;
    color: #575fcf;
}

.button {
    border: 1px solid #eb4669;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #eb4669;
    color: #fff;
    cursor: pointer;
    
}