.container {
   border: 2px solid black;
   height: 20vh;
   display: flex;
   flex-direction: column; 
   justify-content: space-between;
}

.title {
    border: 1px solid pink;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center
};

.select {
    
}

