.container {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    min-height: 5rem;
    box-shadow: 0 10px 5px #888888;
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    width: 100%;
}

.innerContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* padding: 1rem 0; */
    width: 75%;
}

.linkLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 15%; */
    /* border: 1px solid red; */
}

.logo {
    width: 20%;
    /* border: 1px solid blue; */
}

.search {
    /* border: 1px solid green; */
    width: 50%;
}

.icons {
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.link {
    text-decoration: none;
    color: #575fcf;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.icon {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #575fcf;
}

.iconText {
    color: #575fcf;
    margin-top: 5px ;
    font-size: 0.8rem;
    font-weight: bold;
}